BedTimeESP.code-workspace
.pio/
.vscode/.browse.c*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
*.bin
*.elf
*.map
.DS_Store
Thumbs.db

.prject_context.md
firmware/ESP8266-MQTT-HTTP/project_context.md
